/{
  w1: w1 {
    compatible = "zephyr,w1-gpio";
    gpios = <&gpiob 5 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN | GPIO_PULL_UP)>;
    status = "okay";

    ds18s20: ds18s20 {
      compatible = "maxim,ds18s20";
	    family-code = <0x10>;
	    status = "okay";
    };
  };
};

&usart1 {
	status = "okay";

	modbus0 {
		compatible = "zephyr,modbus-serial";
		status = "okay";
		de-gpios = <&gpioa 1 GPIO_ACTIVE_HIGH>;
	};
};

&i2c1 { /* SDA PB7, SCL PB6, ALERT PA7 */
	sht3xd@44 {
		compatible = "sensirion,sht3xd";
		reg = <0x44>;
		alert-gpios = <&gpioa 7 GPIO_ACTIVE_HIGH>;
	};
};

/* enable 4 voltage channels (DAC) */

&volt_ch0 {
      status = "okay";
};

&volt_ch1 {
      status = "okay";
};

&volt_ch2 {
      status = "okay";
};

&volt_ch3 {
      status = "okay";
};
