/dts-v1/;

#include <st/f1/stm32f103Xe.dtsi>
#include <st/f1/stm32f103z(c-d-e)tx-pinctrl.dtsi>

/{
	model = "Jianwei Low-Voltage Supply Board";
	compatible = "jw,lvb";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

  
  /* use gpio-leds dts to emulate power switch behavior */
	powers {
		compatible = "gpio-leds";
		pwr_0: pwr_0 { // always-on channel
			gpios = <&gpiog 1 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>;
			label = "Power-CH1";
		};
		pwr_1: pwr_1 {
			gpios = <&gpioe 8 GPIO_ACTIVE_HIGH>;
			label = "Power-CH2";
		};
		pwr_2: pwr_2 {
			gpios = <&gpiof 14 GPIO_ACTIVE_HIGH>;
			label = "Power-CH3";
		};
		pwr_3: pwr_3 {
			gpios = <&gpioe 11 GPIO_ACTIVE_HIGH>;
			label = "Power-CH4";
		};
		pwr_4: pwr_4 {
			gpios = <&gpioe 6 GPIO_ACTIVE_HIGH>;
			label = "Power-CH5";
		};
		pwr_5: pwr_5 {
			gpios = <&gpioa 12 GPIO_ACTIVE_HIGH>;
			label = "Power-CH6";
		};
		pwr_6: pwr_6 {
			gpios = <&gpioe 5 GPIO_ACTIVE_HIGH>;
			label = "Power-CH7";
		};
		pwr_7: pwr_7 {
			gpios = <&gpioe 2 GPIO_ACTIVE_HIGH>;
			label = "Power-CH8";
		};
		pwr_8: pwr_8 {
			gpios = <&gpioe 4 GPIO_ACTIVE_HIGH>;
			label = "Power-CH9";
		};
		pwr_9: pwr_9 {
			gpios = <&gpioe 3 GPIO_ACTIVE_HIGH>;
			label = "Power-CH10";
		};
	};

	aliases {
		watchdog0 = &iwdg;

		pwr0 = &pwr_0;
		pwr1 = &pwr_1;
		pwr2 = &pwr_2;
		pwr3 = &pwr_3;
		pwr4 = &pwr_4;
		pwr5 = &pwr_5;
		pwr6 = &pwr_6;
		pwr7 = &pwr_7;
		pwr8 = &pwr_8;
		pwr9 = &pwr_9;
	};
};

/* clocks: max cpu clock allowed is 72 MHz */

&clk_hse {
	clock-frequency = <DT_FREQ_M(8)>;
 	status = "okay";
};

&pll {
	mul = <9>;
	clocks = <&clk_hse>; 
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(72)>;
	ahb-prescaler = <1>; // 72 MHz for hse, 64 MHz for hsi
	apb1-prescaler = <2>; // max 36 MHz for hse, 32 MHz for hsi
	apb2-prescaler = <1>; // 72 MHz for hse, 64 MHz for hsi
};

/* watchdog */
&iwdg {
	status = "okay";
};

/* disable jtag-dp to release PA15, PB3 and PB4 */
// &pinctrl {
//  swj-cfg = "jtag-disable";
//};


/* communication: */

/* - uart1 for modbus */
&usart1 {
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";

	modbus0 {
		compatible = "zephyr,modbus-serial";
		status = "okay";

		de-gpios = <&gpiog 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	};
};

/* peripherals: */


