/dts-v1/;
#include <st/f1/stm32f103Xb.dtsi>
#include <st/f1/stm32f103c(8-b)tx-pinctrl.dtsi>

/{
	model = "JianWei Power Supply Board (stm32f103)";
	compatible = "jw,pwb-stm32f103";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &code_partition;
	};

  aliases {
		watchdog0 = &iwdg;
	};
};

// &flash0 {
// 	partitions {
// 		compatible = "fixed-partitions";
// 		#address-cells = <1>;
// 		#size-cells = <1>;

// 		boot_partition: partition@0 {
// 			label = "mcuboot";
// 			reg = <0x00000000 DT_SIZE_K(8)>;
// 			read-only;
// 		};

// 		/*
// 		 * The flash starting at offset 0x2000 and ending at
// 		 * offset 0x3999 is reserved for use by the application.
// 		 */

// 		slot0_partition: partition@4000 {
// 			label = "image-0";
// 			reg = <0x00004000 DT_SIZE_K(24)>;
// 		};
// 		slot1_partition: partition@a000 {
// 			label = "image-1";
// 			reg = <0x0000a000 DT_SIZE_K(24)>;
// 		};
// 	};
// };

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		code_partition: partition@0 {
			label = "code";
			reg = <0x00000000 DT_SIZE_K(96)>;
			read-only;
		};

		/* [todo: from nucleo_f103rb] Set 32KB of storage at the end of 128KB flash */
		storage_partition: partition@18000 {
			label = "storage";
			reg = <0x00018000 DT_SIZE_K(32)>;
		};
	};
};

/* [todo] clocks: max sysclk allowed is 72 MHz */

/* uncomment it for RTC */
// &clk_lsi {
// 	status = "okay";
// };

// &rtc {
// 	clocks = <&rcc STM32_CLOCK_BUS_APB1 0x10000000>,
// 		 <&rcc STM32_SRC_LSI RTC_SEL(2)>;
// 	status = "okay";
// };

/* [todo] incorrect oscillator used currently */
// &clk_hse {
// 	clock-frequency = <DT_FREQ_M(8)>;
// 	status = "okay";
// };

&clk_hsi {
  status = "okay";
};

/* by default, PLL clock will be divided by 1.5 to get USB 48 MHz clock */
&pll {
	mul = <9>; // use 72 MHz
	clocks = <&clk_hsi>; // [todo] use hse to enable USB port
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(72)>;
	ahb-prescaler = <1>; // 72 MHz
	apb1-prescaler = <2>; // max 36 MHz
	apb2-prescaler = <1>; // 72 MHz
};

/* watchdog */
&iwdg {
	status = "okay";
};

/* other system components */
&die_temp {
	status = "okay";
};

&dma1 {
	status = "okay";
};

/* peripherals */
