/dts-v1/;

#include <st/f0/stm32f051X8.dtsi>
#include <st/f0/stm32f051k8tx-pinctrl.dtsi>
#include "jw_pwb_common.dtsi"

/ {
	model = "JianWei Power Supply Board (stm32f051)";
	compatible = "jw,pwb-stm32f051";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &code_partition;
	};

	aliases {
		watchdog0 = &iwdg;
	};
};

/* clocks: max cpu frq is 48MHz */

&clk_lsi {
	status = "okay";
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(24)>;
	status = "okay";
};

&pll {
	prediv = <1>;
	mul = <2>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(48)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <1>;
};

/* flash */
&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		code_partition: partition@0 {
			label = "code-partition";
			reg = <0x00000000 DT_SIZE_K(64)>;
			read-only;
		};
	};
};

/* watchdog */
&iwdg {
	status = "okay";
};

/* due to limited available memory, don't enable gpiod and gpiof */
&gpiod {status = "disabled";};
&gpiof {status = "disabled";};


/* communication: */

/* - uart for modbus (note: the same port is used to programmming by jumper selection) */
&usart1 {
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	pinctrl-names = "default";
	status = "okay";

	modbus0 {
		compatible = "zephyr,modbus-serial";
		status = "okay";

		de-gpios = <&gpioa 1 GPIO_ACTIVE_HIGH>;
	};
};

/* peripherals: */

/* - ch encoder for adc measurmeant */
&adc_encoder {
  gpios = <&gpioa 2  (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
          <&gpioa 12 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
          <&gpioa 11 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
  status = "okay";
};

/* - adc for V/I measuremet */
&spi1 {
	pinctrl-0 = <&spi1_sck_pb3 &spi1_miso_pb4>;
	pinctrl-names = "default";
	clock-frequency = <1500000>; // limit it to 1.5 MHz (24 MHz/16)
  status = "okay";

  cs-gpios = <&gpioa 8 GPIO_ACTIVE_LOW>; 
  ltc2450@0 {
    compatible = "lltc,ltc2450";
    reg = <0>;
    status = "okay";

		spi-max-frequency = <2000000>; // max: 2 MHz
    duplex = <2048>; // half-duplex
  };
};

/* - dac for V set (spi-bitbang) */
/{
	spibb0: spibb0 {
		compatible = "zephyr,spi-bitbang";
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;

		clk-gpios = <&gpioa 13 GPIO_ACTIVE_HIGH>;
		mosi-gpios = <&gpioa 5 GPIO_ACTIVE_HIGH>;
		cs-gpios = <&gpioa 0 GPIO_ACTIVE_LOW>;

    volt_ch0: dac0@0{
      compatible = "adi,ad5541";
      status = "okay";
		  reg = <0x0>;

			spi-max-frequency = <25000000>; // max: 25 MHz
      duplex = <2048>; // half-duplex
    };
	};

	spibb1: spibb1 {
		compatible = "zephyr,spi-bitbang";
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;

		clk-gpios = <&gpioa 13 GPIO_ACTIVE_HIGH>;
		mosi-gpios = <&gpioa 4 GPIO_ACTIVE_HIGH>;
		cs-gpios = <&gpioa 3 GPIO_ACTIVE_LOW>;

    volt_ch1: dac1@0{
      compatible = "adi,ad5541";
      status = "okay";
		  reg = <0x0>;

			spi-max-frequency = <25000000>; // max: 25 MHz
      duplex = <2048>; // half-duplex
    };
	};

	spibb2: spibb2 {
		compatible = "zephyr,spi-bitbang";
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;

		clk-gpios = <&gpioa 13 GPIO_ACTIVE_HIGH>;
		mosi-gpios = <&gpioa 6 GPIO_ACTIVE_HIGH>;
		cs-gpios = <&gpiob 1 GPIO_ACTIVE_LOW>;

    volt_ch2: dac2@0{
      compatible = "adi,ad5541";
      status = "okay";
		  reg = <0x0>;

			spi-max-frequency = <25000000>; // max: 25 MHz
      duplex = <2048>; // half-duplex
    };
	};

	spibb3: spibb3 {
		compatible = "zephyr,spi-bitbang";
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;

		clk-gpios = <&gpioa 13 GPIO_ACTIVE_HIGH>;
		mosi-gpios = <&gpioa 15 GPIO_ACTIVE_HIGH>;
		cs-gpios = <&gpioa 14 GPIO_ACTIVE_LOW>;

    volt_ch3: dac3@0{
      compatible = "adi,ad5541";
      status = "okay";
		  reg = <0x0>;

			spi-max-frequency = <25000000>; // max: 25 MHz
      duplex = <2048>; // half-duplex
    };
	};
};

/* - w1 for uuid */
&w1_bus {
  gpios = <&gpiob 5 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN | GPIO_PULL_UP)>;
  status = "okay";
};

/* - sensor for temperature */
&i2c1 {
	pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
	pinctrl-names = "default";
	status = "okay";

	sht3xd@44 {
		compatible = "sensirion,sht3xd";
		reg= <0x44>;
    status = "okay";

		alert-gpios = <&gpioa 7 GPIO_ACTIVE_HIGH>;
	};
};
